.DS_Store
.local-backups/
barcanto-modular-*-preview.png
barcanto-modular-*-full.png
barcanto-modular-*-contact.jpg
barcanto-integration-*-preview.png
barcanto-integration-*-full.png
barcanto-integration-*-contact.jpg
